# Node.js dependencies
client/node_modules
server/node_modules


# Ignore all .env files
server/.env
server/host.env
server/.vercel
client/.env

# Ignore client-specific files
client/format.json
client/employees.xlsx

# Ignore server-specific files
server/src/uploads
server/src/qrcodes

# Logs
client/*.log
server/*.log
client/npm-debug.log*
server/npm-debug.log*
client/yarn-debug.log*
server/yarn-debug.log*
client/yarn-error.log*
server/yarn-error.log*

# Build outputs
client/build
client/dist

# Cache and system files
.DS_Store
Thumbs.db

# IDE and editor settings
.vscode/
.idea/
*.swp
*.swo

